.form-group {
    margin-bottom: 15px;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.form-tabs {
    padding: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-bottom: 10px;
}

.form-check-input {
    margin-left: 0;
    margin-right: 10px;
    cursor: pointer;
}

.select2 {
    width: 100%;
}

.select2-selection {
    padding-bottom: 5px;
}

.hc-action-list-button {
    margin-right: 5px;
}

.hc-action-list-search {
    width: 200px;
    margin-right: 5px;
}

.hc-action-list {
    float: left;
}

.hc-filter-list {
    float: right;
}

.clear {
    clear: both;
}

.hc-filter-list label {
    margin: 8px;
}

select {
    padding-top: 6px !important;
}
