.form-group {
    margin-bottom: 15px;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.form-tabs {
    padding: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-bottom: 10px;
}

.form-check-input {
    margin-left: 0;
    margin-right: 10px;
    cursor: pointer;
}

.select2 {
    width: 100%;
}

.select2-selection {
    padding-bottom: 5px;
}

.hc-action-list-button {
    margin-right: 5px;
}

.hc-action-list-search {
    width: 200px;
    margin-right: 5px;
}

.hc-action-list {
    float: left;
}

.hc-filter-list {
    float: right;
}

.clear {
    clear: both;
}

.hc-filter-list label {
    margin: 8px;
}

.flex {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

select {
    padding-top: 6px !important;
}

.hc-list-container {
    width: 100%;
    display: table;
    margin-top: 5px;
}

.hc-list-item {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

.hc-list-item-value {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.hc-list-item-value:last-child {
    border-right: 1px solid #eee;
}

.hc-list-headers {
    text-transform: capitalize;
    font-weight: 600;
    background-color: #4598c4;
    color: white;
    margin: 0 10px 0 0;
    padding: 0;
    display: table-row;
    height: 30px;
}

.hc-list-headers .hc-list-item-value:first-child {
    border-top-left-radius: .25em;
}

.hc-list-headers .hc-list-item-value:last-child {
    border-top-right-radius: .25em;
}

#hc-header-settings {
    min-width: 40px;
}

#hc-header-settings .dropdown-menu-right .dropdown-item input {
    margin-right: 5px;
}

.hc-list-item {
    text-transform: capitalize;
    color: #333;
    margin: 0 10px 0 0;
    padding: 0;
    display: table-row;
}

.hc-list-item:nth-child(odd)
{
    background-color: #e3e3e3;
}

.hc-list-item .disabled
{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #e3e3e3;
}

.hc-active
{
    background-color: #53707F !important;
    color: #FFF !important;
}

.hc-loader
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: cadetblue;
}
